{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto my-4">
            <div class="card card-body">
                {% if permission %}
                    we are complete your (student) verifucation.you can complete Payment
                    <br>
                    <a class="btn btn-primary" href="{%url 'student:payment_form'%}">Payment</a>
                    
                {% else %}
                    Your student verification uder the way . please wait for this.
                    when your student verification complete then you can doing next work.

                    thanks
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% endblock content %}