{% extends "base.html" %}
{%load crispy_forms_tags%}
{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card my-4">
                <div class="card-header">
                    Logout
                </div>
                <div class="card-body">
                    you are logout Now.Do you want to Sign In again?
                    <a href="{%url 'user:signin'%}">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}