{% extends "base.html" %}
{%load crispy_forms_tags%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
        {% comment %} <div class="card card-body mt-5">
            <h5>Student Update By Register</h5>
        </div>
        <div class="card card-body my-4">
            <form action="" method="GET">
                {{myfilter.form|crispy}}
                <button class="btn btn-primary">Search</button>
            </form>
        </div> {% endcomment %}
            <div class="card card-body my-4">
                <table class='table'>
                    <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Student Semister</th>
                            <th>IS Register Verify</th>
                            <th>Verify Payment</th>
                            <th>Preview Payment</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for student in student_semister_fee %}
                            <tr>
                                <td>{{student.student}}</td>
                                <td>{{student.semister}}</td>
                                <td>{{student.is_register_verify}}</td>
                                <td>
                                <a href="{%url 'final:update_student_payment_by_register' student.student.id student.semister%}" class="btn btn-danger">Verify</a>
                                </td>
                                <td>
                                <a href="{%url 'final:preview_student_payment_by_register' student.student.id student.semister%}" class="btn btn-success">preview</a>
                                </td>
                            </tr>
                    
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}